<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Pyament App</title>
</head>
<body>
        <form method="POST">
         Phone Number: <input type = "tel" name = "phonenumber" />
         <br>
         First Name: <input type = "text" name = "first_name" />
         <br>
         Last Name: <input type = "text" name = "last_name" />
         <br>
         Enter Amount: <input type = "number" name = "amount" />
         <br>
         Currency: <input type = "text" name = "currency" />
         <br>
        Description: <input type = "text" name = "description" />
         <br>
        <input type = "submit">
      </form>
    
</body>
</html>